body {
    display: flex;
    flex-flow: column;

    height: 100vh;
    margin: 0;

    background-color: aliceblue;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h1 {
    margin: 0;
    padding: 0.5em;
    
    background-color: burlywood;
    
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1 a {
    display: flex;
    flex-wrap: wrap;
    
    align-items: center;
}

h1 img {
    float: left;
    
    padding-right: 1em;
    height: 3em;
}

a {
    text-decoration: none;
    color: brown;
}

a:hover {
    text-decoration: underline;
}

h1 a {
    color: white;
}

.menu {
    display: flex;
    flex-wrap: wrap;
    
    background-color: antiquewhite;
}

p {
    margin: 0;
    padding: 1em 3em;
}

.menu-item {
    display: inline-block;
    padding: 1em;
}

.right {
    margin-left: auto;
}

.content {
    flex-grow: 1;
    margin: 0 25%;
    padding: 1em;

    background-color: white;
}

h2 {
    margin: 0;
    padding: 1em 1em 0 1em;
}

.audio-button {
    margin-right: 1em;
    padding: 0.5em;

    width: 1em;
    border-radius: 1em;

    vertical-align: middle;
    cursor: pointer;
}

.audio-button:hover {
    background-color: antiquewhite;
}

.audio-button:active {
    background-color: burlywood;
}

p .audio-button {
    width: 1.5em;
    border-radius: 1.5em;

    margin-right: 0.25em;
}

a.word {
    padding-right: 0.5em;
}

p.word {
    padding: 0.25em 4em;
}

.path {
    padding: 1em 1.5em 2em 1.5em;
}

@keyframes loading_animation {
    0% {
        transform: rotate(0deg)
    }

    100% {
        transform: rotate(360deg)
    }
}

#loading {
    margin: 25% auto 25% auto;

    width: 4em;
    height: 4em;

    border-radius: 4em;
    border: 0.25em solid;
    border-color: black transparent transparent transparent;

    animation: loading_animation 1s linear infinite;
}

#results-lessons {
    display: none;
}

#results-words {
    display: none;
}

.pages {
    display: flex;
    flex-wrap: wrap;

    padding: 1em 0;
}

.pages div {
    flex-grow: 1;
    text-align: center;
}

h3 {
    margin: 0;
    padding: 1em 1.5em 1em 1.5em;
}

.page-header {
    padding: 1em 1.5em 0 1.5em;
}

.the-end {
    color: gray;
}

video {
    max-width: 100%;
    width: 32em;
}

h4 {
    margin: 0;
    padding: 1em 3em;
}

.image {
    padding: 1em 6em;
}

.border {
    border: 1px solid black;
}

p img {
    max-width: 100%;
    width: 32em;
}

.translation {
    padding: 1em 4em;
}