body {
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h1 {
    margin: 0;
    padding: 1em;
    
    background-color: burlywood;
    
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1 img {
    float: left;
    
    padding-right: 1em;
    height: 1.5em;
}

a {
    text-decoration: none;
    color: brown;
}

a:hover {
    text-decoration: underline;
}

h1 a {
    color: white;
}

.menu {
    display: flex;
    flex-wrap: wrap;
    
    background-color: antiquewhite;
}

p {
    margin: 0;
    padding: 1em 3em;
}

.menu-item {
    display: inline-block;
    padding: 1em;
}

.right {
    margin-left: auto;
}

h2 {
    margin: 0;
    padding: 1em;
}

h3 {
    margin: 0;
    padding: 1em 1.5em;
}

h4 {
    margin: 0;
    padding: 1em 3em;
}

.image {
    padding: 1em 6em;
}

p img {
    max-width: 100%;
    width: 32em;
}

.translation {
    padding: 1em 4em;
}