body {
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

div.menu {
    display: flex;
    flex-wrap: wrap;
    
    background-color: antiquewhite;
}

h1 {
    margin: 0;
    padding: 1em;
    
    background-color: burlywood;
    
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1 a {
    color: white;
}

h2 {
    margin: 0;
    padding: 1em;
}

h3 {
    margin: 0;
    padding: 1em 1.5em;
}

p {
    margin: 0;
    padding: 1em 3em;
}

p.menuitem {
    display: inline-block;
    padding: 1em;
}

p.right {
    margin-left: auto;
}

a {
    text-decoration: none;
    color: brown;
}

a:hover {
    text-decoration: underline;
}